@{
    ViewBag.Title = "Контакт";
}
<h2>@ViewBag.Title</h2>


<address>
    <img href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrju0prkAbmzdTAs0u6tmTYPR1xb9Gk4NgXw&usqp=CAU" /> Радњанска 4 Скопје <br />
    <abbr title="Phone">Телефон:</abbr>
    +389 70 384 276
</address>

<address>
    <strong>Работно време:</strong> <p>Пон - Нед 08:00 - 00:00</p>
    <strong>Техничка поддршка:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Маркетинг:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>